.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.country {
  background-color: var(--card-background-color);
}

.country img {
  width: 100%;
  height: 180px;
  cursor: pointer;
}

.country h3 {
  margin-bottom: 20px;
  font-size: 16px;
}

.country p {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0;
}

.country span {
  font-size: 14px;
  font-weight: 300;
}

.information {
  padding: 20px;
}

.mat-mdc-menu-item {
  background-color: var(--card-background-color);
  width: 200px;
}

.mat-mdc-menu-item:hover {
  background-color: red;
}

.button-region {
  height: 56px;
  background-color: var(--card-background-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.container-input {
  width: 40% !important;
}

@media (max-width: 1270px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media (max-width: 870px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .container-input {
    width: 40%;
  }
}

@media (max-width: 636px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .country img {
    height: auto;
  }

  .inputs {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }

  .container-input {
    width: 100%;
  }
}
