<div class="container">
  <section>
    <form class="inputs" [formGroup]="formFilters">
      <mat-form-field>
        <span matTextPrefix> <i class="fa-solid fa-magnifying-glass"></i></span>

        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Search for a country..."
        />
      </mat-form-field>
      <!-- <mat-form-field class="input-region">
        <mat-select formControlName="region" name="region" id="">
          <mat-option value="">Filter by Region</mat-option>
          <mat-option value="Africa">Africa</mat-option>
          <mat-option value="Americas">America</mat-option>
          <mat-option value="Asia">Asia</mat-option>
          <mat-option value="Europe">Europe</mat-option>
          <mat-option value="Oceania">Oceania</mat-option>
        </mat-select>
      </mat-form-field> -->
      <button class="button-region" mat-button [matMenuTriggerFor]="menu">
        <span>Filter by Region</span>
        <i class="fa-solid fa-angle-down"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="filterCountriesByRegion('Africa')" mat-menu-item>
          Africa
        </button>
        <button (click)="filterCountriesByRegion('Americas')" mat-menu-item>
          Americas
        </button>
        <button (click)="filterCountriesByRegion('Asia')" mat-menu-item>
          Asia
        </button>
        <button (click)="filterCountriesByRegion('Europe')" mat-menu-item>
          Europe
        </button>
        <button (click)="filterCountriesByRegion('Oceania')" mat-menu-item>
          Oceania
        </button>
      </mat-menu>
    </form>
  </section>
  <section class="countries">
    @for (country of countriesFiltered(); track $index) {
    <div class="country">
      <img
        (click)="countryDetail(country.name.common)"
        src="{{ country.flags.png }}"
        alt=""
      />
      <div class="information">
        <h3>{{ country.name.common }}</h3>
        <p>
          Population: <span>{{ country.population | number }}</span>
        </p>
        <p>
          Region: <span>{{ country.region }}</span>
        </p>
        <p>
          Capital: <span>{{ country.capital }}</span>
        </p>
      </div>
    </div>
    }
  </section>
</div>
